.Product {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 400px;
}

.content-left {
    display: flex;
    width: 550px;
    justify-content: space-between;
}


.slider li {
    list-style: none;
    
}

.slides {
    width: 100px;
}

.slides img {
    width: 100px;
}

.main-slider img {
    width: 400px;
}